@charset"UTF-8";

*{margin:0; padding: 0;}

a{text-decoration: none;
   color: maroon;
}

p{ margin-top: 10px;
	margin-bottom: 15px;
	font-size: 20px;
	color: #444;
}
h1{ margin-top: 75px;
	margin-bottom: 50px;
	font-size: 50px;
	color: #444;
}
h2{ margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	color: black;
}
h3{ margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	color:black;
}

.clearfix{overflow: auto;}

.wrapper{
margin: 0 auto;
width:1200px;
background-color: #e0e0e0;
padding: 40px;
padding-top: 10px;
}
.wrapper1{
margin: 0 auto;
width:1515px;

}

/*top-bar*/
.top-bar{
overflow: hidden;
  background-color: #3f3f3f;

}

.top-bar-links{
	float: left;
}
.top-bar-links ul{
	margin: 20px;
list-style: none;

}
.top-bar-links ul li{
	padding:0 20px;
	display:inline-block;
	//border-right:1px solid white;
}
.top-bar-links ul li:last-child{
border: none;

}
.top-bar-links ul li a{
	color: white;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
}
.top-bar-links ul li a i{
	margin-right: 10px;
}
.site-search{
	padding:3px 5px 3px 10px;
	margin: 15px;
	float: right;
	background: white;
	border-radius: 10px;
	margin-right: 50px;

}
.site-search input{
	border:0;
	float: left;
	width: 200px;
	font-size: 18px;
}
.site-search button{
width:45px;
height: 25px;
border: none;
float: right;

}
/*header-bar*/

header{

}
header div.logo{
	width: 400px;
	float: left;
}
div.logo img{
	float: left;
	margin: 10px;
	margin-left: 50px;
	margin-bottom: 5px;
	
}
header div.emergency{
	width: 150px;
	float: left;
}

header div.emergency img{
	float: left;
	width:150px;
	margin-top: 20px;
	margin-left: 200px;
	
}


header .social-media{
float: left;	
}
header .social-media ul{
margin-top: 55px;
margin-left: 350px;
list-style: none;

}
header .social-media ul li{
	display: inline;
}
header .social-media ul li a{
	margin-left: 10px;
	background: #3399ff;
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 20px;

}

header .social-media ul li a:hover{
	background: orange;
}
header .donate .btn {
  background-color: #b30000;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-right: 120px;
  margin-top: 45px;
  border-radius: 10px;
}


header .donate .btn:hover {
  background-color: #ff4d4d;
  color: white;
}
header .donate .btn i{
	margin-right: 10px;
}
header .donate .btn a{
	color: white;
}
header .donate .btn a:hover {
  background-color: #ff4d4d;
  color: white;
}

/*Nav-bar*/
nav{
background: #000;
background: linear-gradient(#0d0d0d,#404040,#0d0d0d);
text-align: center;
margin-top: 0px;
margin-bottom: 10px;
border-radius: 5px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	 
}
nav ul li a{
	color: white;
	margin: 10px 20px 10px 30px;
	font-size: 25px;
	
	
	display: inline-block;
}
nav ul li a:hover{
	color: red;
	background-color:#d5d5d5; 
}
/*Footer*/


footer{
	width: 1515px;
	margin-top: 15px;
	float: left;
	background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 20px;
}
div.footer-col{
	width: 371.66px;
	float: left;
	margin-left: 100px;
	color: #d5d5d5;
}
div.footer-col h5{
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	
}

div.footer-col p{
	color: #d5d5d5;
	text-align: center;
	font-size: 20px;
}
hr.light{
border-top: 1px solid #d5d5d5;
width: 75%;
margin-top: 20px;
margin-bottom: 10px;

}
div.footer-col img{
	margin-top: 20px;
}
footer a{
 text-decoration: none;
 color: #d5d5d5;

}
footer a:hover{
	color: maroon;
	text-decoration: underline;
}
div.copyrights{
	width: 1515px;
	
	float: left;
}
div.copy p{
	margin-left: 200px;
	margin: 20px;
	color: #d5d5d5

}
div.right{
	float: right;
	margin: 20px;
	margin-top: 0px;

}
footer .social-media{
float: left;	
}
footer .social-media ul{
margin-top: 20px;
margin-left: 20px;
list-style: none;

}
footer .social-media ul li{
	display: inline;
}
footer .social-media ul li a{
	margin-left: 10px;
	background: #8c8c8c;
	color: #fff;
	padding: 8px;
	display: inline-block;
	border-radius: 20px;

}

footer .social-media ul li a:hover{
	background: orange;
}


.fa-facebook {
  color: : #3b5998;
  
}